form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.08rem;
    font-size: 20px;
}

.form-control{
    display: grid;
    grid-template-columns: 1fr 100px;
}

.form-input {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: transparent;
    font-size: 14px;
}

.form-input::placeholder {
    color: rgb(202, 211, 221);
}

.form-control .btn{
    cursor: pointer;
    color: #2F3E34;
    background: #ead4b6;
    border:  transparent;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.375rem 0.35rem;
    text-transform: capitalize;
    font-size: 15px;
    font-family: "Quicksand", system-ui, sans-serif;

}

.form-control .btn:hover{
    background: #EFE6D8
}