*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: serif;
    font-weight: 400;
    line-height: 1.2;
    color: black;
}

.section-center{
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 30rem;
    background: gray;
    border-radius: 0.25rem;
    padding: 2rem;
    position: relative;
}