*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: "Quicksand", system-ui, sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #2a2f33;
    font-size: large;

}

.section-center{
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 30rem;
    background: #adedb2;
    border-radius: 15px;
    border: solid #fff;
    padding: 2rem;
    position: relative;
}